<div class="row">

  <div class="col-md-12">
    <nb-card size="full">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Sales Information">

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <nb-card size="full">
                <nb-tabset>

                  <nb-tab tabTitle="General">

                    <div class="row">
                      <div class="col-md-6">


                          <nb-card>
                            <nb-card-body>
                              <form class="form-horizontal">
                                <div class="form-group row">
                                  <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                                  <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Product 2">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-sm-3 form-control-label">Department</label>
                                  <div class="col-sm-9">
                                    <select class="form-control">
                                      <option>Department 1</option>
                                      <option>Department 2</option>
                                      <option>Department 3</option>
                                      <option>Department 4</option>
                                      <option>Department 5</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-12">
                                    <textarea rows="5" placeholder="Labels" class="form-control"></textarea>
                                  </div>
                                </div>
                              </form>
                            </nb-card-body>
                          </nb-card>


                      </div>

                      <div class="col-md-6">

                        <div class="row">
                          <div class="col-md-12 col-lg-12">
                            <nb-card size="full">
                              <nb-tabset>
                                <nb-tab tabTitle="Price 1">

                                    <form class="form-horizontal">
                                      <div class="form-group row">
                                        <label style="text-align: right" for="inputEmail31" class="col-sm-3 col-md-6 form-control-label">Inc Tax Sell Price $</label>
                                        <div class="col-sm-9 col-md-6 input-group-sm">
                                          <input style="text-align: right" type="number" class="form-control" id="inputEmail31" value="4.67">
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label style="text-align: right" for="inputPassword32" class="col-sm-3 col-md-6 form-control-label">Margin %</label>
                                        <div class="col-sm-9 col-md-6 input-group-sm">
                                          <input type="number" class="form-control" id="inputPassword32" value="100">
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label style="text-align: right" for="inputPassword33" class="col-sm-3 col-md-6 form-control-label">Margin $</label>
                                        <div class="col-sm-9 col-md-6 input-group-sm">
                                          <input type="number" class="form-control" id="inputPassword33" value="4.25">
                                        </div>
                                      </div>
                                    </form>

                                </nb-tab>
                                <nb-tab tabTitle="Price 2">
                                  <span>Price #2</span>
                                </nb-tab>
                                <nb-tab tabTitle="Price 3">
                                  <span>Price #3</span>
                                </nb-tab>

                                <nb-tab tabTitle="Price 4">
                                  <span>Price #3</span>
                                </nb-tab>
                                <nb-tab tabTitle="Price 5">
                                  <span>Price #3</span>
                                </nb-tab>

                              </nb-tabset>
                            </nb-card>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <p class="text-right">Ex Tax Costs</p>
                          </div>
                          <div class="col-md-6">
                            <p class="text-center">$0.00</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <p class="text-right">Ex Tax Last Costs</p>
                          </div>
                          <div class="col-md-6">
                            <p class="text-center">$0.00</p>
                          </div>
                        </div>


                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">

                        <nb-card>
                          <nb-card-header>PLU / Barcode</nb-card-header>
                          <nb-card-body>
                            <div class="row" style="margin-bottom: 15px">
                              <div class="col-md-6">
                                <button class="col-sm-12 btn btn-danger">Remove PLU/Barcode</button>
                              </div>
                              <div class="col-md-6">
                                <button class="col-sm-12 btn btn-success">Add PLU/Barcode</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <select multiple class="form-control">
                                    <option>Item 1</option>
                                    <option>Item 2</option>
                                    <option>Item 3</option>
                                    <option>Item 4</option>
                                    <option>Item 5</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </nb-card-body>
                        </nb-card>

                      </div>

                      <div class="col-md-6">

                        <nb-card>
                          <nb-card-header>Recipe Components</nb-card-header>
                          <nb-card-body>
                            <div class="row" style="margin-bottom: 15px">
                              <div class="col-md-4">
                                <button class="col-sm-12 btn btn-danger">Remove Item</button>
                              </div>
                              <div class="col-md-4">
                                <button class="col-sm-12 btn btn-success">Add Item</button>
                              </div>
                              <div class="col-md-4">
                                <button class="col-sm-12 btn btn-warning">Edit Qty</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <h3 class="text-center" style="line-height: 4.2em">No Recipe Items</h3>
                              </div>
                            </div>
                          </nb-card-body>
                        </nb-card>

                      </div>
                    </div>


                  </nb-tab>

                  <nb-tab tabTitle="POS Terminal Setup">


                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <nb-card size="full">
                          <nb-tabset>
                            <nb-tab tabTitle="POS General">

                              <div class="row">
                                <div class="col-md-6">


                                  <nb-card>
                                    <nb-card-header>Item Type</nb-card-header>
                                    <nb-card-body>
                                      <form class="form-horizontal">
                                        <div class="form-group row">
                                          <label for="inputEmail3" class="col-sm-10 form-control-label">Taxable when Sold</label>
                                          <div class="col-sm-2">
                                            <nb-checkbox [value]="true"></nb-checkbox>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-3 form-control-label">Description</label>
                                          <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputPassword3" value="Product 2">
                                          </div>
                                        </div>

                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-3 form-control-label">Price Entity</label>
                                          <div class="col-sm-9">
                                            <select class="form-control">
                                              <option>Preset</option>
                                              <option>Department 2</option>
                                              <option>Department 3</option>
                                              <option>Department 4</option>
                                              <option>Department 5</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="form-group row">
                                          <div class="col-md-10 offset-md-1">
                                            <nb-checkbox> Condiment Y/N</nb-checkbox>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <div class="col-md-10 offset-md-1">
                                            <nb-checkbox [value]="true"> Weighed Item (Scale)</nb-checkbox>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-2 offset-md-1 form-control-label">Item Tare</label>
                                          <div class="col-sm-3 input-group-sm">
                                            <input type="number" class="form-control" id="inputPassword3" value="-1">
                                          </div>
                                          <div class="col-sm-3">
                                            <p>(default: -1)</p>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <div class="col-md-10 offset-md-1">
                                            <nb-checkbox [value]="true"> Total % Discount Applies</nb-checkbox>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <div class="col-md-10 offset-md-1">
                                            <nb-checkbox [value]="true"> Modified</nb-checkbox>
                                          </div>
                                        </div>

                                      </form>
                                    </nb-card-body>
                                  </nb-card>


                                </div>
                                <div class="col-md-6">


                                  <nb-card>
                                    <nb-card-header>Condiment Table / Condiment Chain</nb-card-header>
                                    <nb-card-body>
                                      <form class="form-horizontal">
                                        <div class="form-group row">

                                          <div class="col-md-6">
                                            <label class="custom-control custom-radio">
                                              <input type="radio" class="custom-control-input" name="customRadio" checked>
                                              <span class="custom-control-indicator"></span>
                                              <span class="custom-control-description">Condiment Table</span>
                                            </label>
                                          </div>
                                          <div class="col-md-6">
                                            <label class="custom-control custom-radio">
                                              <input type="radio" class="custom-control-input" name="customRadio1" >
                                              <span class="custom-control-indicator"></span>
                                              <span class="custom-control-description">Condiment Chain</span>
                                            </label>
                                          </div>

                                        </div>
                                        <div class="form-group row">
                                          <div class="col-sm-12">
                                            <div class="checkbox">
                                              <nb-checkbox>Automatically Show Table</nb-checkbox>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="form-group row">

                                          <div class="col-sm-10">
                                            <select class="form-control">
                                              <option>&nbsp;</option>
                                              <option>Department 2</option>
                                              <option>Department 3</option>
                                              <option>Department 4</option>
                                              <option>Department 5</option>
                                            </select>
                                          </div>

                                          <div class="col-sm-2">
                                            <button class="btn btn-warning"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></button>
                                          </div>
                                        </div>
                                      </form>
                                    </nb-card-body>
                                  </nb-card>


                                  <nb-card>
                                    <nb-card-header>Printing</nb-card-header>
                                    <nb-card-body>
                                      <form class="form-horizontal">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label style="margin-top: 16px;" for="inputPassword3" class="col-sm-3 form-control-label">KP 1</label>
                                              <div class="col-sm-6">
                                                <input type="number" class="form-control" id="inputPassword3" value="0">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label style="margin-top: 16px;" for="inputPassword3" class="col-sm-3 form-control-label">RM 1</label>
                                              <div class="col-sm-6">
                                                <input type="number" class="form-control" id="inputPassword3" value="0">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label style="margin-top: 16px;" for="inputPassword3" class="col-sm-3 form-control-label">KP 2</label>
                                              <div class="col-sm-6">
                                                <input type="number" class="form-control" id="inputPassword3" value="0">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label style="margin-top: 16px;" for="inputPassword3" class="col-sm-3 form-control-label">RM 2</label>
                                              <div class="col-sm-6">
                                                <input type="number" class="form-control" id="inputPassword3" value="0">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label style="margin-top: 16px;" for="inputPassword3" class="col-sm-3 form-control-label">KP 3</label>
                                              <div class="col-sm-6">
                                                <input type="number" class="form-control" id="inputPassword3" value="0">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label style="margin-top: 16px;" for="inputPassword3" class="col-sm-3 form-control-label">KP 4</label>
                                              <div class="col-sm-6">
                                                <input type="number" class="form-control" id="inputPassword3" value="0">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="form-group row">
                                          <div class="col-sm-2">
                                            <p style="margin-top: 16px;">Print Group</p>
                                          </div>

                                          <div class="col-sm-8">
                                            <select class="form-control">
                                              <option>&nbsp;</option>
                                              <option>Department 2</option>
                                              <option>Department 3</option>
                                              <option>Department 4</option>
                                              <option>Department 5</option>
                                            </select>
                                          </div>
                                          <div class="col-sm-2">
                                            <button class="btn btn-warning"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></button>
                                          </div>
                                        </div>

                                        <div class="form-group row">

                                          <div class="col-sm-2">
                                            <p style="margin-top: 16px;">KP Label</p>
                                          </div>

                                          <div class="col-sm-8">
                                            <select class="form-control">
                                              <option>&nbsp;</option>
                                              <option>Department 2</option>
                                              <option>Department 3</option>
                                              <option>Department 4</option>
                                              <option>Department 5</option>
                                            </select>
                                          </div>
                                          <div class="col-sm-2">
                                            <button class="btn btn-warning"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></button>
                                          </div>
                                        </div>

                                      </form>
                                    </nb-card-body>
                                  </nb-card>

                                </div>
                              </div>

                            </nb-tab>


                            <nb-tab tabTitle="Member Groups">

                              <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

                            </nb-tab>


                            <nb-tab tabTitle="Image">


                              <div class="row">
                                <div class="col-md-12">
                                  <div class="row" style="margin-bottom: 15px">
                                    <div class="col-md-6 col-lg-3">
                                      <button class="btn col-md-12 btn-success"><i class="fa fa-upload"></i> Load</button>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                      <button class="btn col-md-12 btn-danger"><i class="fa fa-remove"></i> Remove</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-10 offset-md-1 text-center">

                                  <img src="https://drop.ndtv.com/albums/COOKS/corngallery/creolespicedcornthumb_640x480.jpg" class="img-fluid" alt="Responsive image">

                                </div>
                              </div>


                            </nb-tab>


                            <nb-tab tabTitle="Advanced">
                              <span>Content #3</span>
                            </nb-tab>

                          </nb-tabset>
                        </nb-card>
                      </div>
                    </div>

                  </nb-tab>

                  <nb-tab tabTitle="Selling Locations">
                    <span>Content #3</span>
                  </nb-tab>

                  <nb-tab tabTitle="Stock Locations">
                    <span>Content #3</span>
                  </nb-tab>

                </nb-tabset>
              </nb-card>
            </div>
          </div>


        </nb-tab>



        <nb-tab tabTitle="Purchase Information">
          <span>Content #2</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>



  <!--<div class="col-md-6">
    <nb-card size="small">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </nb-card>
  </div>-->
</div>
